<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Recursive Project Authors (github.com/arrowtype/recursive)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Recursive</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHheaAscender</key>
    <integer>950</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>314</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>100</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>950</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>ARRW</string>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1207</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>271</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <real>537.9528301886793</real>
      <real>551.2452830188679</real>
      <real>699.1462264150944</real>
      <integer>720</integer>
      <integer>750</integer>
      <real>768.5377358490566</real>
    </array>
    <key>postscriptDefaultWidthX</key>
    <integer>0</integer>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>RecursiveMonoCsl-BdItalic</string>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-215.8490566037736</real>
      <real>-190.97169811320754</real>
      <real>360.2169811320755</real>
      <real>368.77830188679246</real>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>130.81603773584905</real>
      <real>137.64622641509433</real>
      <real>127.40094339622642</real>
      <real>135.0849056603774</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>134.37735849056602</real>
      <real>140.50000000000003</real>
      <real>137.64622641509436</real>
      <real>140.35377358490567</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <real>-179.38679245283018</real>
    <key>postscriptUnderlineThickness</key>
    <real>100.49528301886792</real>
    <key>styleMapFamilyName</key>
    <string>Recursive Mono Csl</string>
    <key>styleMapStyleName</key>
    <string>Bold Italic</string>
    <key>styleName</key>
    <string>Mono Casual Bold Italic</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>78</integer>
    <key>xHeight</key>
    <real>537.9528301886793</real>
  </dict>
</plist>
